name: Build report app
on: [push]
jobs:
  build:
    runs-on: henrist-test-ubuntu-latest
    strategy:
      matrix:
        group:
          - job01
          - job02
          - job03
          - job04
          - job05
          - job06
          - job07
          - job08
          - job09
          - job10
          - job11
          - job12
          - job13
          - job14
          - job15
          - job16
          - job17
          - job18
          - job19
          - job20
          - job21
          - job22
          - job23
          - job24
          - job25
          - job26
          - job27
          - job28
          - job29
          - job30
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: '22'
      - run: pnpm install
      - run: pnpm --filter ./report build
      - name: Install SSH key
        if: github.ref == 'refs/heads/main'
        env:
          FBS_SSH_KEY: ${{ secrets.FBS_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$FBS_SSH_KEY" >~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          ssh-keyscan fcos-3.nrec.foreningenbs.no >> ~/.ssh/known_hosts
          rsync -avz --delete --exclude report.json report/dist/ root@fcos-3.nrec.foreningenbs.no:/var/mnt/data/web-1-www/root/energi/
